@using Emerus.ETM.Admin.Pages

<div class="card-section">
    <h5>Badge Request</h5>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="NeedsBadge" @bind="Model.NeedsBadge" />
        <label class="form-check-label" for="NeedsBadge">Request building access badge</label>
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Facility</label>
            <input class="form-control" @bind="Model.PrimaryFacility" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Access Level/Request Type</label>
            <InputSelect class="form-select" @bind-Value="Model.RequestType">
                <option value="">Select access Level</option>
                <option value="Contingent">Contingent</option>
                <option value="Clinician">Clinician</option>
                <option value="Vendor">Vendor</option>
            </InputSelect>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public OnboardingNew.BadgeModel Model { get; set; } = default!;
}
