@using Emerus.ETM.Admin.Pages

<div class="card-section">
    <h5>Demographics</h5>

    <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label">First Name</label>
            <input class="form-control" @bind="Model.FirstName" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Preferred First Name</label>
            <input class="form-control" @bind="Model.PreferredFirstName" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Last Name</label>
            <input class="form-control" @bind="Model.LastName" />
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-4">
            <label class="form-label">Preferred Last Name</label>
            <input class="form-control" @bind="Model.PreferredLastName" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Personal Email</label>
            <input class="form-control" @bind="Model.PersonalEmail" type="email" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Cell Phone</label>
            <input class="form-control" @bind="Model.CellPhone" type="tel" />
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-4">
            <label class="form-label">Date of Birth</label>
            <InputDate class="form-control" @bind-Value="Model.DateOfBirth" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Gender</label>
            <InputSelect class="form-select" @bind-Value="Model.Gender">
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </InputSelect>
        </div>

        <div class="col-md-4">
            <label class="form-label">Identity</label>
            <InputSelect class="form-select" @bind-Value="Model.Identity">
                <option value="">Select identity</option>
                <option value="SsnLast4">SsnLast4</option>
                <option value="FullSsnEncrypted">FullSsnEncrypted</option>
            </InputSelect>
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-6">
            <label class="form-label">Address Line 1</label>
            <input class="form-control" @bind="Model.AddressLine1" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Address Line 2</label>
            <input class="form-control" @bind="Model.AddressLine2" />
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-4">
            <label class="form-label">City</label>
            <input class="form-control" @bind="Model.City" />
        </div>

        <div class="col-md-4">
            <label class="form-label">State</label>
            <input class="form-control" @bind="Model.State" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Postal</label>
            <input class="form-control" @bind="Model.Postal" />
        </div>
    </div>

    <div class="row g-3 mt-2">
        <div class="col-md-4">
            <label class="form-label">Country</label>
            <input class="form-control" @bind="Model.Country" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public OnboardingNew.DemographicsModel Model { get; set; } = default!;
}