

<nav class="sidebar bg-light border-end p-3">
    <img src="/images/em-logo.png" width="150" />
    <div style="height:1em;"></div>
    <h5 style="align-content:center;">Access Control</h5>

    <ul class="nav flex-column small">
        <nav class="nav-menu">
            <a class="nav-link" href="">Dashboard</a>
            <a class="nav-link" href="onboarding/my-contractors">My Contractors</a>
            <a class="nav-link" href="onboarding/new">New Contractor</a>
            <a class="nav-link" href="admin/requests">All Requests</a>
            <a class="nav-link" href="admin/tasks">Task Board</a>
            <a class="nav-link" href="admin/config/vendors">Vendors</a>
        </nav>
    </ul>
</nav>


